{% include 'backend/includes/stdMenu.j2' %}

<div class='uk-navbar-right uk-light'>
    <ul class='uk-navbar-nav'>
        <li class='uk-active'>
            <a href='#'>{{ current_user.username }}</a>
            <div uk-dropdown='pos: bottom-right; mode: click; offset: -17;'>
                <ul class='uk-nav uk-navbar-dropdown-nav'>
                    <li class='uk-nav-header'>Options</li>
                    <li><a href='{{ url_for('user.profile') }}'>Edit Profile</a></li>
                    <li class='uk-nav-header'>Actions</li>
                    <li><a href='{{ url_for('user.logout') }}'>Logout</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>