<div id="sidebar" class="tm-sidebar-left uk-background-default">
    <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">
            Articles
        </li>
        <li><a href="#">Create</a></li>
        <li><a href="#">List</a></li>
    </ul>
</div>