{% extends 'backend/includes/base.j2' %}
{% from 'backend/includes/macros.j2' import render_field, render_submit_field, render_flashes %}

{% block menu %}
    {% include 'backend/includes/adminMenu.j2' %}
{% endblock %}

{% block sidebar %}
    {% include 'backend/includes/sidebar.j2' %}
{% endblock %}

{% block content %}
    <div class='content-padder content-background'>
        <div class='uk-section-small uk-section-default header'>
            <div class='uk-container uk-container-large'>
                <h3>Site settings</h3>

                <div style='width: 50%'>
                    {{ render_flashes() }}
                </div>

                <form method='POST' role='form' class='form uk-form-horizontal' style='width: 50%;'> {# TODO: fix this #}

                    {{ form.csrf_token() }}
                    <fieldset class='uk-fieldset'>
                        <div class='uk-margin'>
                            <label class="uk-form-label" for="siteTitle">Site title</label>
                            <div class="uk-form-controls">
                                {{ render_field(form.site_title, tabindex=110, placeholder='title', class='uk-input', autocomplete='off', id='siteTitle') }}
                            </div>
                        </div>

                        <div class='uk-margin'>
                            <label class="uk-form-label" for="timezone">Timezone</label>
                            <div class="uk-form-controls">
                                {{ render_field(form.site_timezone, tabindex=120, class='uk-select', id='timezone') }}
                            </div>
                        </div>

                        <div class='uk-margin'>
                            <label class="uk-form-label">Date format</label>
                            <div class="uk-form-controls">
                                {% for date_radio in form.site_date_format %}
                                    {{ date_radio(class='uk-radio') }} {{ date_radio.label }}<br />
                                {% endfor %}
                            </div>
                        </div>

                        <div class='uk-margin'>
                            <label class="uk-form-label">Hour format</label>
                            <div class="uk-form-controls">
                                {% for hour_radio in form.site_time_format %}
                                    {{ hour_radio(class='uk-radio') }} {{ hour_radio.label }}<br />
                                {% endfor %}
                            </div>
                        </div>

                        <div class='uk-margin'>
                            {{ render_submit_field(form.submit, tabindex=130) }}
                            <a href='{{ request.referrer }}' class='uk-button uk-button-secondary'>Back</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}